.advertsList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    overflow: hidden;
    gap: 20px;
}

.advertItem {
    list-style: none;
    max-width: 250px;
    width: 100%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #d1dbe0;
    height: 120px;
    padding: 10px;
    line-height: 1.6;
    border-radius: 20px;
    cursor: pointer;
}

.advertItem > a {
    display: block;
    text-decoration: none;
    width: 100%;
}

.advertsFilters {
    background-color: rgb(245, 245, 245);
    padding: 30px 20px;
    border-radius: 20px;
}

.advertsFiltersInputs {
    display: grid;
}

.advertsFiltersInputs > label {
    margin-right: 10px;
}

.advertsFiltersInputs > select {
    max-width: 200px;
}

.advertsFiltersButtons {
    margin-top: 20px;
}

.advertsFiltersButtons > button {
    margin-right: 5px;
}
